.scaleContainer {
    display: flex;
    flex-direction: column;
}
.scaleQuestionWrapper {
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
}

.scaleQuestion {
    margin: 100px 0 0 60px;
    width: 585px;
}

.scaleQuestion .questionText1:nth-of-type(1) {
    font-weight: bold;
    font-size: 60px;
}

.scaleQuestion .questionText1:nth-of-type(2) {
    font-weight: normal;
    font-size: 28px;
    margin-top: 95px;
    color: rgba(216,232,255,1);
}

.scaleQuestion .questionText2:nth-of-type(1) {
    font-weight: bold;
    font-size: 42px;
}

.scaleQuestion .questionText2:nth-of-type(2) {
    font-weight: normal;
    font-size: 25px;
    margin-top: 70px;
    color: rgba(216,232,255,1);
}

.scaleAnswerWrapper {
    margin: 70px 0 0 60px;
    width: 540px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.scaleAnswerWrapper div {
    width: 120px;
    height: 120px;
    box-shadow: 0 10px 10px #00000029;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.scaleAnswerWrapper div.answer .answerSpan1 {
    font-weight: bold;
    font-size: 40px;
}

.scaleAnswerWrapper div.answer .answerSpan2 {
    font-weight: bold;
    font-size: 24px;
}

.scaleAnswerWrapper div.answer:nth-of-type(4),
.scaleAnswerWrapper div.answer:nth-of-type(5),
.scaleAnswerWrapper div.answer:nth-of-type(6) {
    margin-top: 30px;
}

.scaleAnswerWrapper div.unselected {
    background: #F39228 0 0 no-repeat padding-box;
}

.scaleAnswerWrapper div.selected {
    background: #FFFFFF 0 0 no-repeat padding-box;
    color: #273446;
}

.scaleFieldWrapper {
    height: 660px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 60px;
}

.scaleField {
    width: 800px;
    height: 540px;
    display: flex;
    justify-content: space-between;
}

.scaleField img {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.scaleField .imageWrapper {
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scale {
    width: 360px;
    height: 540px;
    margin: 0 0 0 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scaleFillerEllipse {
    width: 287px;
    height: 38px;
    position: relative;
    top: -10px;
    left: 10px;
    z-index: 2;
    flex-shrink: 0;
}

.scale .imageWrapper .scaleFillerEllipse {
    top: -35px;
    left: 5px;
}

.scale .filler {
    height: 510px;
    width: 100px;
    border: 2px solid rgba(255,255,255,0.23);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.scale .filler .fillerSpan1 {
    font-size: 32px;
}

.scale .filler .fillerSpan2 {
    font-size: 24px;
}

.filling {
    height: 56px;
    width: 100px;
    text-align: center;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    opacity: 1;
}

.scaleField .imageWrapper .image1 {
    width: 168.384px;
    height: 524px;
    left: 1380.615px;
    top: 267px;
}

.scaleField .imageWrapper .image2 {
    width: 168.384px;
    height: 524px;
    left: 1380.615px;
    top: 275px;
}

.scaleField .imageWrapper .image3 {
    width: 263px;
    height: 461px;
    left: 1334px;
    top: 329px;
}

.Ellipse_44 {
    width: 287px;
    height: 38px;
    left: 1320px;
    top: 774px;
}
