.contentWrapper {
    display: flex;
}

.dragDropContainer {
    display: flex;
    flex-direction: column;
}
.dragDropQuestionWrapper {
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
}

.dragDropQuestion {
    margin: 100px 0 0 60px;
    width: 540px;
}

.dragDropQuestion p:nth-of-type(1) {
    font-weight: bold;
    font-size: 50px;
    color: rgba(243,146,40,1);
}
.Subtitel{
    font-weight: bold;
    font-size: 50px;
}

.dragDropQuestion p:nth-of-type(2) {
    font-weight: normal;
    font-size: 28px;
    margin-top: 95px;
    color: rgba(216,232,255,1);
}

.fieldWrapper {
    height: 660px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 60px;
}

.field .imageWrapper {
    height: 300px;
    display: flex;
    align-items: center;
}

.imageWrapper svg {
    position: absolute;
    overflow: visible;
    width: 287px;
    height: 38px;
}

.imageWrapper ellipse {
    opacity: 0.5;
    fill: rgba(0,0,0,1);
}

.Ellipse_1 {
    left: 665px;
    top: 556px;
}

.buttonWrapper .continueLink {
    width: 254px;
    height: 92px;
    text-align: middle;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.unanswered {
    opacity: 0.281;
    color: rgba(216,232,255,1);
}

.answered {
    opacity: 1;
    color: #1A222E;
}

.buttonWrapper span {

}

.buttonWrapper span:nth-of-type(1) {
    display: block;
}

.buttonWrapper span:nth-of-type(2) {
    font-weight:normal;
}
