.contentWrapper {
    display: flex;
}

.confirmationNutriContainer {
    display: flex;
    flex-direction: column;
}
.confirmationNutriFeedbackWrapper {
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
}

.confirmationNutriFeedback {
    margin: 100px 0 0 60px;
    width: 850px;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
    color: rgba(216,232,255,1);
}

.confirmationNutriFeedback p:nth-of-type(1) {
    color: rgba(243,146,40,1);
}
.confirmationNutriFeedbackInfo {
    font-size: 28px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 100px;
    width: 540px;
}


.firstImage {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    height: 721px;
    left: 1317.614px;
    top: 100px;
    width: 231.385px;
    overflow: visible;
}

.secondImage {
    position: absolute;
    width: 241px;
    height: 124px;
    left: 1166px;
    top: 556px;
    overflow: visible;
}

.rectangle1 {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 88px;
    height: 112px;
    left: 1216px;
    top: 590px;
    fill: rgba(149,193,45,1);
}

.B {
    left: 1224px;
    top: 599px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 70px;
    margin-top: -7.5px;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
}

.confirmationNutriEllipse {
    position: absolute;
    overflow: visible;
    width: 506px;
    height: 38px;
    left: 1103px;
    top: 775px;
}

#confirmationNutriEllipse {
    opacity: 0.5;
    fill: rgba(0,0,0,1);
}

.buttonWrapper .continueLink {
    width: 254px;
    height: 92px;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.answered {
    opacity: 1;
    color: #1A222E;
}

.buttonWrapper span {

}

.buttonWrapper span:nth-of-type(1) {
    display: block;
}

.buttonWrapper span:nth-of-type(2) {
    font-weight:normal;
}
