.confirmationNutriImageDisplay img {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
}

.firstImage1 {
    width: 231.385px;
    height: 721px;
    left: 1317.614px;
    top: 100px;
}

.firstImage2 {
    width: 231.385px;
    height: 721px;
    left: 1291.308px;
    top: 110px;
    z-index: 10;
}

.secondImage {
    position: absolute;
    width: 241px;
    height: 124px;
    left: 1166px;
    top: 556px;
    z-index: 15;
}

.rectangle5 {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.161));
    width: 88px;
    height: 112px;
    left: 1216px;
    top: 590px;
    fill: rgba(149,193,45,1);
    z-index: 20;
}

.B {
    left: 1224px;
    top: 599px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 70px;
    margin-top: -7.5px;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
    z-index: 20;
}

.confirmationNutriEllipse {
    width: 506px;
    height: 38px;
    left: 1103px;
    top: 802px;
}

#confirmationNutriEllipse {
    opacity: 0.5;
    fill: rgba(0,0,0,1);
}

.answered {
    opacity: 1;
    color: #1A222E;
}


