.contentWrapper {
    display: flex;
}

.dragDropContainer {
    display: flex;
    flex-direction: column;
}
.dragDropQuestionWrapper {
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
}

.dragDropQuestion {
    margin: 100px 0 0 60px;
    width: 540px;
}

.dragDropQuestion p:nth-of-type(1) {
    font-weight: bold;
    font-size: 60px;
}

.dragDropQuestion p:nth-of-type(2) {
    font-weight: normal;
    font-size: 28px;
    margin-top: 95px;
    color: rgba(216,232,255,1);
}

.dragDropAnswerWrapper {
    margin: 70px 0 0 60px;
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.dragDropAnswerWrapper div {
    width: 120px;
    height: 120px;
    box-shadow: 0 10px 10px #00000029;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.dragDropAnswerWrapper div.answerD {
    background: #F39228 0 0 no-repeat padding-box;
}

.dragDropAnswerWrapper div.answerB {
    background: #95C12D 0 0 no-repeat padding-box;
}

.dragDropAnswerWrapper div.answerC {
    background: #FFDF37 0 0 no-repeat padding-box;
}

.dragDropAnswerWrapper div span {
    font-weight: bold;
    font-size: 60px;
}

.dragDropFieldWrapper {
    height: 660px;
    display: flex;
    justify-content: space-between;
    margin: 100px 0 0 60px;
}

.dragDropFieldWrapper .field {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dragDropFieldWrapper .field .dropField_1,
.dragDropFieldWrapper .field .dropField_2,
.dragDropFieldWrapper .field .dropField_3 {
    width: 120px;
    height: 120px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    opacity: 0.23;
}

.dragDropFieldWrapper .field .imageWrapper {
    height: 300px;
    display: flex;
    align-items: center;
}

.dragDropFieldWrapper .field .imageWrapper img {
    height: 300px;
}

.dragDropImageWrapper svg {
    position: absolute;
    overflow: visible;
    width: 287px;
    height: 38px;
}

.Ellipse_1 {
    left: 665px;
    top: 556px;
}

.Ellipse_2 {
    left: 968px;
    top: 556px;
}

.Ellipse_3 {
    left: 1271px;
    top: 556px;
}

.dropGlow {
    opacity: 1 !important;
}

.Bild_2 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 96.056px;
    height: 301px;
    left: 760.473px;
    top: 280px;
    overflow: visible;
}

.Bild_21 {
    position: absolute;
    width: 85px;
    height: 298px;
    left: 1071px;
    top: 280px;
    overflow: visible;
}

.Bild_22{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    width: 312px;
    height: 312px;
    left: 1260px;
    top: 283px;
    overflow: visible;
}