* {
  padding: 0;
  margin: 0;
}

body {
  background: transparent radial-gradient(closest-side at 50% 50%, #32435A 0%, #020203 180%) 0 0 no-repeat padding-box;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.taskContainer {
  display: flex;
  height: 100vh;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

.buttonWrapper {
  position: absolute;
  top: 900px;
  left: 1574px;
  width: 286px;
  height: 120px;
  box-shadow: 0 10px 10px #00000029;
  border: 2px solid #38475C;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonWrapper .continueLink {
  width: 254px;
  height: 92px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

.unanswered {
  opacity: 0.281;
  color: rgba(216,232,255,1);
}

.answered {
  opacity: 1;
  color: #1A222E;
  background: #FFFFFF 0 0 no-repeat padding-box;
}

.buttonWrapper span {
  margin-right: 30px;
}

.buttonWrapper span:nth-of-type(1) {
  display: block;
}

.buttonWrapper span:nth-of-type(2) {
  font-weight:normal;
}

ellipse {
  opacity: 0.5;
  fill: rgba(0,0,0,1);
}
