* {
  padding: 0;
  margin: 0;
}

body {
  background: transparent radial-gradient(closest-side at 50% 50%, #32435A 10%, #020210 180%) 0 0 no-repeat padding-box;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.taskContainer {
  display: flex;
  height: 100vh;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}
