* {
  padding: 0;
  margin: 0;
}

body {
  background: transparent radial-gradient(closest-side at 50% 50%, #32435A 0%, #020203 180%) 0 0 no-repeat padding-box;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

a, a:active, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: #1A222E;
}

.taskContainer {
  display: flex;
  height: 100vh;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

.contentWrapper {
  display: flex;
}

.buttonWrapper {
  position: absolute;
  top: 900px;
  left: 1574px;
  width: 286px;
  height: 120px;
  box-shadow: 0 10px 10px #00000029;
  border: 2px solid #38475C;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonWrapper .continueLink {
  width: 254px;
  height: 92px;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

.unanswered {
  opacity: 0.281;
  color: rgba(216,232,255,1);
}

.answered {
  opacity: 1;
  color: #1A222E;
  background: #FFFFFF 0 0 no-repeat padding-box;
}

.buttonWrapper span {
  margin-right: 30px;
}

.buttonWrapper span:nth-of-type(1) {
  display: block;
}

.buttonWrapper span:nth-of-type(2) {
  font-weight:normal;
}

svg {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  z-index: -1;
}

ellipse {
  opacity: 0.5;
  fill: rgba(0,0,0,1);
}

.confirmationContainer {
  display: flex;
  flex-direction: column;
}
.confirmationFeedbackWrapper {
  color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
}

.confirmationFeedback {
  margin: 100px 0 0 60px;
  width: 850px;
  font-size: 90px;
  font-weight: bold;
  line-height: 90px;
  color: rgba(216,232,255,1);
}

.confirmationFeedback p:nth-of-type(1) {
  color: rgba(243,146,40,1);
}

.confirmationFeedbackInfo {
  font-size: 28px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 100px;
  width: 540px;
}
